.ipynb_checkpoints/
CapstoneData(5-28-2019).xlsx
CapstoneData.xlsx
CapstoneData orig copy.xlsx
CapstoneData orig.xlsx
MidlandBasin.xlsx
acquire_prepare.orig
orig_prep_data.py
GraphPurposes.JPG
ProjectOutline.JPG
.docx
__pycache__/
cleaned_oil_df.csv
cleaned_oil_df.xlsx
model_comparisons.xlsx
over_1600_vertical.xlsx
under_600_horizontal.xlsx
~$CapstoneData1.xlsx
CapstoneDataFinal.xlsx
Data Science Capstone Project Planning.docx